.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15%;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.8);

}
.logo-container {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.title {
    font-size: 30px;
}
.list-container {
    display: flex;
    height: 100%;
    align-items: center;

}
.list{
    display: flex;
    list-style: none;

}
.list li {
    margin-left: 2em;
}

.btn-start {
    padding: 10px;
    border-radius: 20px;
    background-color: #FF88BA;
    box-shadow: black 2px 5px 2px;

}
#logo {
    animation: spinAni 5s ease-in-out;  
}

@keyframes spinAni {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}