.statistics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
}

.statistics .part-one, .statistics .part-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

.statistics .text-container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.statistics img {
    width: 25%;
    height: 50%;
    margin: 1em;
}