<%- include('partials/head') %>
    <title>Predictor</title>
    <link rel="stylesheet" href="/css/predictor.css">
    </head>

    <body onload="initPredictor()">
        <%- include('partials/navbar') %>

            <section class="predictor-section" id="predictor-section">
               
            </section>
            <section class="how-to-predictor">
                <h2>How Do Our</h2>
                <h2>Predictions Work?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt praesentium mollitia non in voluptatum voluptates a. Quisquam ab assumenda accusantium repellendus odio, adipisci esse pariatur ipsum cumque fugit, incidunt delectus.</p>
            </section>
            <%- include('partials/footer') %>

    </body>

    </html>