<%- include('partials/head') %>
    <title>Statistics</title>
</head>
<body onload="initStatistics()"></body>
    <%- include('partials/navbar') %>
    <%- include('partials/statistics') %>
    <%- include('partials/footer') %>

</body>
</html>