<%- include('partials/head') %>
    <title>Why It Matters</title>
</head>
<body onload="initWhy()">
    <%- include('partials/navbar') %>
        <%- include('partials/why') %>
        <link rel="stylesheet" href="/css/why-it-matters.css">

            <section class="video-section" id="video-section">
                <h3>Why it matters</h3>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/awvWRm-f87w" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
            <section class="reasons-section">
                <div class="title-container">
                    <h2>3 Reasons </h2>
                    <h3>Why We Should All Care</h3>
                </div>
                <div class="reasons-container">
                    <div class="reason">
                        <div class="number">1</div>
                        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                    <div class="reason">
                        <div class="number">2</div>
                        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                    <div class="reason">
                        <div class="number">3</div>
                        <div class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                </div>
            </section>
            <%- include('partials/footer') %>

            </body>

            </html>