<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <%- include('partials/why') %>
        <link rel="stylesheet" href="/css/why-it-matters.css">

            <section class="video-section">
                <h3>Why it matters</h3>
                <div class="video-container">
                    <iframe width="90%" height="80%" src="https://www.youtube.com/embed/awvWRm-f87w" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </section>
            <section class="reasons-section">
                <div class="title-container">
                    <h3>3 Reasons </h3>
                    <h2>Why We Should All Care</h2>
                </div>
                <div class="reasons-container">
                    <div class="reason">
                        <div>1</div>
                        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                    <div class="reason">
                        <div>2</div>
                        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                    <div class="reason">
                        <div>3</div>
                        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corporis mollitia culpa perferendis eligendi eos nemo dolor tempora eveniet labore non, debitis sint nulla magnam harum laboriosam? Adipisci, quam expedita.</div>
                    </div>
                </div>
            </section>
            </body>

            </html>