<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>


<div class="">
 <h1>Form to add a text</h1>
</div>
<div>
  <h1>new article: </h1>
  <p><%= reversed %></p>
        <a href="/flip">Back to Home</a>
    </form>
</div>

</body>
</html>