body {
    display: flex;
    flex-direction: column;
    }
    
.about {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 15%;
    flex-direction: column;
    background-color: white;
}

#title1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Sarabun", sans-serif;
    transition: all 2s;
}

#title2 {
    font-size: 2.6rem;
    font-weight: 600;
    font-family: "Sarabun", sans-serif;
}


#contact-button {
    font-size: 1rem;
    font-weight: medium;
    font-family: "Sarabun", sans-serif;
    padding:5px 3em 5px 3em;
}

.about .text-box-two {
    display: flex;
    width: 50%;
    height: 85%;
    flex-direction: column;  
    align-items: center;
}


.text {
    font-size: .7rem;
    font-weight: Medium;
    font-family: "Sarabun", sans-serif;
}

.btn-start {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 121212 2px 5px 2px;
}
