.about {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 15%;
    flex-direction: column;
    background-color: white;
}

.about .text-box-two {
    display: flex;
    width: 50%;
    height: 85%;
    flex-direction: column;  
    align-items: center;
}
