
.flip {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 10%;
    flex-direction: row;
    background-color: rgb(250, 244, 244);
    justify-content: space-evenly;
}
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#blackimg{
    background-image: url("../img/blackDeco.png");
    background-position: bottom 20px left 1000px;
    background-repeat: no-repeat;
}
.text-box {
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 1em 0 1em 0;
    background-color: #f5f5f5;
    overflow: scroll;
}
#newArticle {
    display: flex;
    padding: 1em;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
}

#form-flip{
    display: flex;
    flex-direction: column;

}
.text-area, .text-box.right {
    display: flex;
    position: relative;
    height: fit-content;
    min-height: 50vh;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
}

.btn-container {
    display: flex;
    width: 90%;
    justify-content: left;
}
.btn-container button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 15px 20px 15px 20px;
    font-size: 1.3rem;
    border-radius: 45px;
    box-shadow: #121212 2px 5px 2px;;
}

#flipbut{
    margin-left: 20px;
    margin-right: 50px
}

#neutralbut{
    margin-left: 5px;
}

#response-box {
    height: 100%;
    resize: none;
    cursor: pointer;
    overflow: scroll;
    padding: 1em;
}
.copy-btn {
    border: none;
    background-color: inherit;
}
.response-footer {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
    padding-left: 0.5em;
    background-color: rgba(211, 211, 211,0.7);
}

button:focus {
    outline:none;
    animation: btnClickedAni 0.2s;
}

#copied-element {
    transition: all 5s;
}

@keyframes btnClickedAni {
    0% {
        transform: translateY(0); 
    }
    50%{
        transform: translateY(10px); 
    }
    100%{
        transform: translateY(0); 
    }
}
