.flip {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 10%;
    flex-direction: row;
    background-color: grey;
    justify-content: space-evenly;
}
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.text-box {
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 1em 0 1em 0;
    background-color: #f5f5f5;
    overflow: scroll;
}
#newArticle {
    display: flex;
    padding: 1em;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
}

#form-flip{
    display: flex;
    flex-direction: column;

}
.text-area, .text-box.right {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
}

.btn-container {
    display: flex;
    width: 90%;
    justify-content: center;
}
.btn-container button {
    display: flex;
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em ;
    border-radius: 25px;
}

#response-box {
    height: 100%;
    resize: none;
    cursor: pointer;
    padding: 1em;
}
.copy-btn {
    border: none;
    background-color: inherit;
}
.response-footer {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    padding-left: 0.5em;
    background-color: lightgray;
}

button:focus {

    outline:none;
    animation: btnClickedAni 0.2s;
    
}

@keyframes btnClickedAni {
    0% {
        transform: translateY(0); 
    }
    50%{
        transform: translateY(10px); 
    }
    100%{
        transform: translateY(0); 
    }
}
