.flip {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 10%;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;
}
.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1em;
}

.text-box {
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 1em 0 1em 0;
    border: 2px solid grey;
}

#form-flip{
    display: flex;
    flex-direction: column;

}
.text-area, .text-box.right {
    padding: 0.5em;
}
