.footer {
    display: flex;
    flex-direction: column;
}
.footer-main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    padding-top: 2em;
}
.footer-main-container .logo-container {
    display: flex;
    width: 30%;
    height: 100%;

}
.footer-main-container .links{
    display: flex;
    width: 50%;
}
.footer li {
    margin: 1em;
}
.footer-main-container .logo-container a {
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size: 1.3rem;
}
.links h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.links a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}


.social-links {
    display: flex;
    width: 100%;
    padding: 1em;
    position: relative;
    justify-content: flex-end;
}
