.intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2em;
    justify-content: center;
    align-items: left;
}
.intro h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.intro p {
    font-size: 1.4rem;
    font-weight:500;
}
.btn-flip {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 15px 20px 15px 20px;
    font-size: 1.3rem;
    border-radius: 45px;
    box-shadow: #121212 2px 5px 2px;
}

