.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: fit-content;
    z-index: 5;
    justify-content: space-around;
    background-color: rgba(245, 245, 245,0.8);
}
.navbar:hover {
    cursor: pointer;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
}

.logo-container {
    display: flex;
    height: 100%;
    width: fit-content;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    margin: 0.5em;
    font-size: 1.5rem;
}

.list-container {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.btn-start {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 121212 2px 5px 2px;
}

#logo {
    animation: spinAni 5s ease-in-out;  
}

@keyframes spinAni {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}