
#slideshow-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

#slideshow-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    list-style-type: none;
    border-radius: 25px;

}

.slide {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content:center;
    margin: auto;
    position: absolute;
    cursor: pointer;
    width: 90%;
    height: 90%;
    opacity: 0;
    z-index: 1;
    transition: all 1s;
}


.slide.two h1 {
    font-family: 'Work Sans', sans-serif; 
    font-size: 3.5rem;
    font-weight: 700;
}
.slide.three h3, .slide.four h3, .slide.five h3, .slide.six h3, .slide.seven h3 {
    font-family: 'Sarabun', sans-serif;
    font-size: 2rem;
}

.slide.four h3, .slide.five h3 {
    display: flex;
    width: 100%;
    justify-content: left;
}

.slide.seven a {
    text-decoration: underline;
}

.quotes-container {
    display: flex;
    position: relative;
    height: 100%;
}

.quotes.start {
    display: flex;
    height: 100%;
    align-items: flex-start;
}
.text-in-quotes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.3rem;
    font-family: "Bitter", serif;
    font-weight: 550;
}
.quotes.end {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.quotes {
    display: flex;
    font-size: 5em;
    font-family: 'Sarabun', sans-serif;
    font-weight: 600;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#dot-container {
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 10px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

