.statistics {
    display: flex;
    padding: 2em;
    width: 100%;
    height: fit-content;
    padding-top: 10%;
    flex-direction: column;
}


.part-one,.part-two {
    height: 50%;
}
.statistics-content{
    display: flex;
    position: relative;
    width: 100%;
}

.charts-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    width: 50%;
    padding: 2em;

}
.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 50%;
    padding: 1em;
    padding-left: 3em;
}
.text-area p {
   margin: 1em;
}

.btn-learn-more {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    margin-top: 1em;
    font-size: 1rem;
    border-radius: 45px;
    box-shadow: #121212 2px 5px 2px;
}

.text-box {
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 1px 1px lightgray;
}

#myChartDoughnut, #myChartBars, #myChartBars2 {
    display: flex !important;
    position: relative;
    margin: 1em;
}

.blackDecoStats {
    display: flex;
    position: absolute;
    z-index: -1;

}
.blackDecoStats img{
    display: flex;
    width: 85%;
    height: 85%;
}
.blackDecoStats.first {
    top: -20%;
    left: -75%;
    transform: rotate(105deg)
}

.blackDecoStats.second{
    right: -50%;
    bottom: 0;


}

