.statistics {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 15%;
    flex-direction: column;
    background-color: white;
}

.part-one h1, .part-one p{
    color: #FF88BA;
}
