.statistics {
    display: flex;
    padding: 2em;
    height: fit-content;
    padding-top: 10%;
    flex-direction: column;
    background-color: #f5f5f5;
}


.part-one,.part-two {
    height: 50%;
}
.statistics-content{
    display: flex;
    justify-content: space-evenly;
}

.charts-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    width: 40%;
}
.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 1em;
}
.text-area p {
    margin: 1em;
}

.btn-learn-more {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    margin-top: 1em;
    font-size: 1rem;
    border-radius: 45px;
    box-shadow: #121212 2px 5px 2px;
}