.statistics {
    display: flex;
    height: 200vh;
    padding: 2em;
    padding-top: 10%;
    flex-direction: column;
    background-color: white;
}

.pinky{
    color: #FF88BA;
}

.part-one,.part-two {
    height: 50%;

}
