.statistics {
    display: flex;
    padding: 2em;
    height: fit-content;
    padding-top: 10%;
    flex-direction: column;
    background-color: #f5f5f5;
}


.part-one,.part-two {
    height: 50%;
}

#myChart {
    display: flex;
    width: 100%;
}
.chart-content {
    display: flex;
    width:100%;
}