@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Roboto:wght@300;400;500;700&family=Sarabun:wght@300;400;500;600;700;800&family=Work+Sans:wght@700&family=kameron:wght@400;700&display=swap');
/* 
font-family: 'Bitter', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Work Sans', sans-serif; 
font-family: 'Kameron', serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    color: #121212;
}
html {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
p, ul {
    margin: 0;
    list-style: none;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color:rgb(155, 148, 148);
}

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    width:50px;
    height: 50px;
    border-radius: 10px;
}
