.team {
    display: flex;
    width: 100%;
    padding: 2em;
    justify-content: space-around;
}
.team-container {
    display: flex;
}
.team-member {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}

.team-member img {
    display: flex;
    width: 70%;
    height: auto;
    border-radius: 120px;
}
.team-member .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}