.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 60vw;
    margin-top: 1.5em;
}
.video-container iframe {
    display: flex;
    width: 100%;
    height: 100%;

}
.video-section h3 {
    font-family: "Sarabun", sans-serif;
    font-size: 2.6rem;
    font-weight:600;
}
.video-container {
    border-radius: 25px;
    overflow: hidden;
}

.reasons-section {
    display: flex;
    padding: 2em;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
.reasons-section.title-container h2 {
    font-family: "Sarabun", sans-serif;
    font-size: 2.6rem;
    font-weight:700;
}

.reasons-section.title-container h3{
    font-family: "Sarabun", sans-serif;
    font-size: 2rem;
    font-weight:500;
}

.reason {
    display: flex;
    width: 100%;
    align-items: baseline;
    margin: 0.5em;
}
.reason .number {
    display: flex;
    width: fit-content;
    margin: 2em;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Kameron', serif;
}