.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 60%;
}

.reasons-section {
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    border: 5px solid red;
}