.why {
    display: flex;
    height: 100vh;
    padding: 2em;
    padding-top: 8%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 237, 237);
}



/* Styles for the TITLES for when the slideshow is closed/open */
.slideshow-closed {
    display: flex;
    position: relative;
    height: 100%;
    width: 90%;
    flex-direction: column;
    transition: all 3s;

}

.slideshow-open {
    display: hidden;
    position: relative;
    z-index: -1;
    height: 0%;
    width: 90%;
    flex-direction: column;
    transition: all 3s;

}


/* Styles for the TITLES for when the slideshow is closed */
.slideshow-box-open{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: all 3s;
}

.slideshow-box-closed{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    transition: all 3s;

}

.text.two {
    display: flex;
    height: 100%;
    align-items: center;
}
.text.one h2 {
    font-size: 3em;
}
.text.one p {
    font-size: 1em;
}
