<link rel="stylesheet" href="css/intro.css">
<section id="intro" class="intro">
    <div class="part-one">
        <img src="img/welcome1.jpg" alt="">
        <div>
            <p>
                Insert here any inspirational text...
            </p>
        </div>
    </div>
    <div class="part-two">
        <a class="btn-flip" href="/flip">Flip your script!</a>
    </div>
</section>