<link rel="stylesheet" href="css/statistics.css">
<section id="statistics" class="statistics">
    <div class="part-one">
        <img src="/img/pronouns1.png" alt="She/Her , They/Them, He/His pronouns">
        <div class="text-container">
            <h2>Insert here a title for the statictics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt consequatur possimus accusamus suscipit, recusandae assumenda, explicabo totam atque quis fugit, qui repellendus dolor mollitia quas nihil nostrum aspernatur officia architecto?</p>
        </div>
    </div>
    <div class="part-two">
        <div class="text-container">
            <h2>Insert here a title for the statictics</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In nihil ipsum illo, quis quasi error sint recusandae iure odit temporibus quam laborum voluptates ducimus ex eveniet cumque consequatur, doloremque harum!</p>
        </div>
        <img src="/img/pronouns1.png" alt="She/Her , They/Them, He/His pronouns">

    </div>
</section>