<link rel="stylesheet" href="/css/about.css">
<section id="about" class="about">
    <div class="text-box-one">
        <h1>We believe</h2>
        <h2>We can all make change <span>happen.</span></h2>
    </div>
    <div class="text-box-two">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, cum. Eum, at fugiat laboriosam quo debitis delectus neque earum quam quas a possimus illum culpa dicta quis odit quaerat tenetur.</p>
        <a class="btn-start" style="padding:5px 3em 5px 3em" href="/contact">Contact Us</a>
    </div>
</section>