<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">

  <div class="logo-container">
    <img id="logo" src="/img/logo.png" height=30 width=30 alt="logo image">
    <a class="title" href="/">Flip The Script</a>
  </div>
  <div class="list-container">
    <ul class="list">
      
      <li>
        <a href="/#why">Why It Matters</a>
      </li>
      <li>
        <a href="/#statistics">Statistics</a>
      </li>
      <li>
        <a href="/#predictor">Predictor</a>
      </li>
      <li>
        <a href="/#about">About Us</a>
      </li>
      <li>
        <a class="btn-start" href="/flip">Start Now</a>
      </li>
    </ul>
  </div>

</nav>