<link rel="stylesheet" href="/css/slideshow.css">

<!-- Slideshow container -->
<ul id="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <li class="slide showing" onclick="nextSlide()">
        <div class="pink-container">
            <p><span class="quotes">"</span>A father and a son are in a horrible car crash that kills the dad. The son
                is rushed to the hospital, just as he is about to go under the knife, the surgeon says: I can't operate,
                that boy is my son!<span class="quotes">"</span></p>
        </div>
    </li>
    <li class="slide" onclick="nextSlide()">
        <div class="pink-container">
            <h1>How is this possible?</h1>
        </div>
    </li>

    <li class="slide" onclick="nextSlide()">
        <div class="pink-container">
            <h3>86% of people didn't consider the surgeon was a woman</h3>
        </div>
    </li>

    <li class="slide" onclick="nextSlide()">
        <div class="pink-container">
            <h3>Here's why</h3>
            <p><span class="quotes">"</span>A father and a son are in a horrible car crash that kills the dad. The son
                is rushed to the hospital, just as he is about to go under the knife, the surgeon says: I can't operate,
                that boy is my son!<span class="quotes">"</span></p>
            <h3>7 Male pronouns</h3>
            <h3>1 Neutral pronoun</h3>
            <h3>0 Female pronouns</h3>

        </div>
    </li>
    <li class="slide" onclick="nextSlide()">
        <div class="pink-container">
            <h3>What about this</h3>
            <p><span class="quotes">"</span>A father and daughter are in a horrible car crash that kills the dad. The
                daughter is rushed to the hospital, just as she’s about to go under the knife, the surgeon says, I can’t
                operate, that girl is my daughter!<span class="quotes">"</span></p>
            <h4>4 Male pronouns</h4>
            <h4>1 Neutral pronoun</h4>
            <h4>3 Female pronouns</h4>

        </div>
    </li>
    <li class="slide" onclick="nextSlide()">
        <div class="pink-container">
            <h3>What about this</h3>
            <p>adding less than half of female pronouns allows 24% more people to get it right.
            </p>
        </div>
    </li>
    <li class="slide" onclick="nextSlide(); toggleSlideshow('close')">
        <div class="pink-container">
            <p><a href="">Learn more</a> on why this matters. </p>
        </div>
    </li>
</ul>
<div id="dot-container" style="text-align:center">
    <span class="dot active" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
</div>