<link rel="stylesheet" href="/css/statistics.css">
<section id="statistics" class="statistics">
    <div class="part-one">
        <h1 class="pinky">Numbers,</h1>
        <p class="pinky">numbers</p>
    </div>
    <div class="part-two">
        <h1 class="pinky">Script predictor</h1>
        <p class="pinky">Some more text here</p>
       
        <form action="/articlecat" method="POST">
            <div class="source-container">
            <label for="source">Source: </label>
            <select name="source" id="source">
                <option value="1">ABC News</option>
                <option value="2">Al Jazeera</option>
                <option value="3">BBC news</option>
                <option value="4">CNN</option>
                <option value="5">Deutsche Welle</option>
                <option value="6">Newsweek</option>
                <option value="7">Reuters</option>
                <option value="8">The Irish Times</option>
                <option value="9">The New York Times</option>
                <option value="10">Science Mag</option>
                <option value="11">CNBC</option>
                <option value="12">NPR</option>
            </select>
            </div>
            <div class="source-container">
            <label for="topic">Topic: </label>
            <select name="topic" id="topic">
                <option value="1">Business</option>
                <option value="2">Culture</option>
                <option value="3">Food and Drinks</option>
                <option value="4">Health</option>
                <option value="5">Local News</option>
                <option value="6">People</option>
                <option value="7">Politics</option>
                <option value="8">Sports</option>
                <option value="9">Technology</option>
                <option value="10">Travel</option>
                <option value="11">World</option>
                <option value="12">Social Science</option>
            </select>
            </div>
            <div class="gender-container">
            <input type="radio" id="male" name="sex" value="0">
            <label for="male">Male</label> 
            <input type="radio" id="female" name="sex" value="1">
            <label for="female">Female</label>
            <button type="submit">Submit</button>
        </div>
        </form>

    </div>
</section>
<!-- NOTE!!! In JS CODE, I added a space between < and % to comment it out. on line 64, 65, 66, 73, 74, 75. Delete space for code to work-->
 <!-- <form method="POST">
            <div class="source-container">
                <label for="source">Source:</label><br>
                <input list="sources" name="source">
                <datalist id="sources">
                       < % for (let source of sources){ %> 
                        <option value='< %= source %>'>
                            < % } %>
                </datalist>
            </div>
            <div class="topic-container">
                <label for="topic">Topic:</label><br>
                <input list="topics" name="topic">
                <datalist id="topics">
                    < % for (let topic of topics){ %>
                        <option value='< %= topic %>'>
                            < % } %>
                </datalist>
            </div>
            <div class="gender-container">
                <label for="gender">Gender:</label>
                <div>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                    <input type="radio" id="divers" name="gender" value="divers">
                    <label for="divers">Divers</label>
                </div>
               
            </div>

            <input type="submit" name="" formaction="/"> 

        </form> -->