<link rel="stylesheet" href="/css/statistics.css">
<section id="statistics" class="statistics">
  
</section>
<!-- NOTE!!! In JS CODE, I added a space between < and % to comment it out. on line 64, 65, 66, 73, 74, 75. Delete space for code to work-->
 <!-- <form method="POST">
            <div class="source-container">
                <label for="source">Source:</label><br>
                <input list="sources" name="source">
                <datalist id="sources">
                       < % for (let source of sources){ %> 
                        <option value='< %= source %>'>
                            < % } %>
                </datalist>
            </div>
            <div class="topic-container">
                <label for="topic">Topic:</label><br>
                <input list="topics" name="topic">
                <datalist id="topics">
                    < % for (let topic of topics){ %>
                        <option value='< %= topic %>'>
                            < % } %>
                </datalist>
            </div>
            <div class="gender-container">
                <label for="gender">Gender:</label>
                <div>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                    <input type="radio" id="divers" name="gender" value="divers">
                    <label for="divers">Divers</label>
                </div>
               
            </div>

            <input type="submit" name="" formaction="/"> 

        </form> -->