<link rel="stylesheet" href="/css/team.css">
<section class="team">
    <div class="title-container">
        <h1>The Team</h1>
        <h2>Behind <span>Flip The Script</span></h2>
    </div>
    <div class="team-container">
        <div class="team-member">
            <img src="" alt="">
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur distinctio reprehenderit vitae, asperiores ullam harum. Voluptate quibusdam explicabo et soluta tempora iure, optio eveniet eligendi illo similique quisquam nihil ipsa.</p>
                <a href="">Check My Work</a>
            </div>
        </div>
        <div class="team-member">
            <img src="" alt="">
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur distinctio reprehenderit vitae, asperiores ullam harum. Voluptate quibusdam explicabo et soluta tempora iure, optio eveniet eligendi illo similique quisquam nihil ipsa.</p>
                <a href="">Check My Work</a>
            </div>
        </div>
        <div class="team-member">
            <img src="" alt="">
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur distinctio reprehenderit vitae, asperiores ullam harum. Voluptate quibusdam explicabo et soluta tempora iure, optio eveniet eligendi illo similique quisquam nihil ipsa.</p>
                <a href="">Check My Work</a>
            </div>
        </div>
        <div class="team-member">
            <img src="" alt="">
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur distinctio reprehenderit vitae, asperiores ullam harum. Voluptate quibusdam explicabo et soluta tempora iure, optio eveniet eligendi illo similique quisquam nihil ipsa.</p>
                <a href="">Check My Work</a>
            </div>
        </div>
    </div>

</section>