<link rel="stylesheet" href="/css/why.css">
<section id="why" class="why">
  <div id="title-container" class="text one slideshow-closed">
      <div><h2 id="title1">Words form thoughts, </h2><h2 id="title2"> and thoughts form words.</h2>
        </div>
      <p class="">imagine the following scenario:</p>
  </div>
  <div id="slideshow-box" class="text two slideshow-box-closed" onclick="toggleSlideshow('open')">
    <%- include('slideshow') %>
</div></a>
</section>