<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>


<div class="">
 <h1>Form to add a text</h1>
</div>
<div>
    <form method="POST">
        <section>
            <label for="newArticle">Paste article here: </label>
            <textarea id="newArticle" name="article"></textarea>
        </section>
        <button type="submit" name="reverse" formaction="/articles">Reverse</button>
        <button type="submit" name="neutral" formaction="/neutralarticle">Neutralize</button>
        <a href="/home">Back to Home</a>
    </form>
</div>

</body>
</html>