<link rel="stylesheet" href="/css/about.css">
<section id="about" class="about">
    <div class="part-one">
        <h2>Behind flip the script</h2>
        <p>Creating a more fair world</p>
    </div>
    <div class="part-two">
        <div class="text-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, cum. Eum, at fugiat laboriosam quo debitis delectus neque earum quam quas a possimus illum culpa dicta quis odit quaerat tenetur.</p>
            <a href="/about">see more</a>
        </div>
        <img src="/img/logo.png" alt="">
    </div>
</section>