<link rel="stylesheet" href="css/why.css">
<section id="why" class="why">
    <div class="part-one">
        <h2>Why do pronouns matter?</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda sequi aut porro nisi esse dolorem, quasi pariatur, quis velit odio, distinctio eius consectetur hic rem ipsam asperiores quae! Molestias, similique!</p>
    </div>
    <div class="part-two">
        <div class="card">
            <img src="/img/logo.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dolor culpa possimus rerum laborum a qui aliquam distinctio magni? Adipisci dolor rerum maxime porro libero ad neque ducimus, repudiandae quam.</p>
        </div>
        <div class="card">
            <img src="/img/logo.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dolor culpa possimus rerum laborum a qui aliquam distinctio magni? Adipisci dolor rerum maxime porro libero ad neque ducimus, repudiandae quam.</p>
        </div>
        <div class="card">
            <img src="/img/logo.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit dolor culpa possimus rerum laborum a qui aliquam distinctio magni? Adipisci dolor rerum maxime porro libero ad neque ducimus, repudiandae quam.</p>
        </div>

    </div>
</section>